* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;

  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}
#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}
/*  navbar */
.navbar {
  background-color: #f8f9fa; 
}

.navbar-brand {
  font-weight: bold; 
}

.navbar-nav .nav-link {
  color: #333; 
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #555; 
}

.navbar .active .nav-link {
  font-weight: bold;
}
.navbar-toggler {
  border-color: #fff;
}


