<%- include('../partials/header') %>

<h1>Add a New Review</h1>
<form id="add-review-form" action="/recipes/<%= recipe._id %>/reviews" method="POST">
  <label>Rating:</label>
  <input type="number" name="rating" min="1" max="5">
  <label>Comment:</label>
  <textarea name="comment"></textarea>
  <input type="submit" value="Add Review">
</form>


<%- include('../partials/footer') %>