<%- include('../partials/header') %>

<form id="add-recipe-form" action="/recipes" method="POST">
  <label>Recipe</label>
  <input type="text" name="title">
  <label>Ingredients:</label>
  <textarea name="ingredients"></textarea>
  <label>Instructions:</label>
  <textarea name="instructions"></textarea>
  <label> Image </label>
  <input type="text" name="image" class="image-container">
  <input type="submit" value="Add Recipe">

</form>

<%- include('../partials/footer') %>