<%- include('../partials/header') %>
<h1>Create a New Recipe</h1>
<h3>Here you can use us for your cookbook review!</h3>
<h6>hungryWell is a place to store your recipes so they live forever and get passed on generation after generation. Fill in a recipe that you decided to make, and post to our website.  Users will have the ability to chat to you about your recipe.  Some may post to get advice on their recipe. More cooks more FLAVOR!</h6>

<form id="add-recipe-form" action="/recipes" method="POST">
  <label>Recipe</label>
  <input type="text" name="title">
  <label>Ingredients:</label>
  <textarea name="ingredients"></textarea>
  <label>Instructions:</label>
  <textarea name="instructions"></textarea>
  <label> Image </label>
  <input type="text" name="image">
  <input type="submit" value="Add Recipe">

</form>

<%- include('../partials/footer') %>